{% extends "layouts/base.html" %}

{% block title %} {{ page_label }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {#{% include 'includes/preloader.html' %}#}

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">{{ page_label }}</h1>
                        {% if page_description %}
                            <p class="lead mb-5">{{ page_description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
        <section class="section pb-0 pt-6">
            <div class="container">
                <div class="row justify-content-center mb-0 mb-md-6">
                    <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                        <div class="mb-2 mb-md-3">
                            <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/linux.svg"
                                 alt="Linux Server">
                        </div>
                        <h2 class="h4">Linux Server Infra</h2>
                    </div>
                    <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                        <div class="mb-2 mb-md-3">
                            <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/docker.svg"
                                 alt="Docker">
                        </div>
                        <h2 class="h4">Containerization</h2>
                    </div>
                    <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                        <div class="mb-2 mb-md-3">
                            <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/git.svg"
                                 alt="Git CI/CD">
                        </div>
                        <h2 class="h4">Git CI/CD</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <div class="section section-md pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>What Sets Us Apart</h2>
                        <ul>
                            <li><strong>Infrastructure Design:</strong> We specialize in designing scalable and
                                resilient infrastructure solutions tailored to your business needs.
                            </li>
                            <li><strong>Cloud Services:</strong> Harness the power of the cloud with our expertise in
                                cloud platform integration, migration, and management.
                            </li>
                            <li><strong>Linux:</strong> Our strong knowledge in Linux allows us to provide robust,
                                secure,
                                and efficient server environments. We handle everything from initial setup and
                                configuration to ongoing maintenance and troubleshooting, ensuring your systems run
                                smoothly and reliably.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>Our Services</h2>
                        <ul>
                            <li><strong>Custom Security Solutions:</strong> Protect your infrastructure with our
                                comprehensive and tailored
                                security solutions, including firewall configuration, intrusion detection, and data
                                encryption.
                            </li>
                            <li><strong>Infrastructure as Code:</strong> Streamline your infrastructure management with
                                our Infrastructure as Code (IaC) services, enabling version control, automated
                                deployments, and scalable infrastructure.
                            </li>
                            <li><strong>Cloud-Based Server Management:</strong> Simplify server management with our
                                cloud-based solutions, offering scalable resources and seamless integration with your
                                existing infrastructure.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Why Choose Us</h2>
                        <ul>
                            <li><strong>Expertise and Experience:</strong> With years of experience in infrastructure
                                services, we deliver reliable and scalable solutions to meet your business demands.
                            </li>
                            <li><strong>Customized Solutions:</strong> We understand your unique infrastructure
                                requirements and provide customized solutions that align with your strategic objectives.
                            </li>
                            <li><strong>24/7 Support:</strong> Our dedicated support team ensures proactive monitoring
                                and quick resolution of issues to minimize downtime and optimize performance.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Let's Discuss Your Infrastructure Needs</h2>
                        <p>Ready to optimize your infrastructure for enhanced performance and reliability? Contact us
                            today to schedule a consultation. Let's build a scalable and secure infrastructure that
                            supports your business growth.</p>
                        <p><a href="{{ routes['Contact'][0].url }}"><u>Contact us now!</u></a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Section -->

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
