{% extends "layouts/base.html" %}

{% block title %} {{ page_label }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {#{% include 'includes/preloader.html' %}#}

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">{{ page_label }}</h1>
                        {% if page_description %}
                            <p class="lead mb-5">{{ page_description }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
                    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </figure>
        </div>
        <!-- End of Hero -->

    <!-- Section -->
<section class="section pb-0 pt-6">
    <div class="container">
        <div class="row justify-content-center mb-0 mb-md-6">
            <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                <div class="mb-2 mb-md-3">
                    <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/hardware.svg" alt="">
                </div>
                <h2 class="h4">Embedded Systems</h2>
            </div>
            <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                <div class="mb-2 mb-md-3">
                    <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/rtos.svg" alt="">
                </div>
                <h2 class="h4">IoT Solutions</h2>
            </div>
            <div class="col-6 col-md-4 text-center mb-5 mb-md-0">
                <div class="mb-2 mb-md-3">
                    <img class="small-image" src="{{ config.ASSETS_ROOT }}/assets/img/services/browser.svg" alt="">
                </div>
                <h2 class="h4">Web Applications</h2>
            </div>
        </div>
    </div>

</section>

        <!-- Section -->
        <div class="section section-md pb-6 pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>What Sets Us Apart</h2>
                        <ul>
                            <li><strong>Embedded Software Development:</strong> We excel in developing embedded systems
                                and IoT solutions that integrate seamlessly with your hardware, ensuring optimal
                                performance and reliability.
                            </li>
                            <li><strong>Custom Solutions:</strong> Whether you need a tailored industrial automation
                                solution or a specialized embedded application, we design and develop software that
                                precisely meets your needs.
                            </li>
                            <li><strong>Technology Expertise:</strong> Our engineers are proficient in a wide range of
                                technologies and programming languages, allowing us to choose the stack that best fits
                                your project requirements. Require a skill not mentioned? Feel free to contact us. We learn fast!
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>Our Services</h2>
                        <ul>
                            <li><strong>Product Development:</strong> From concept to deployment, we provide end-to-end
                                product development services, including firmware development, sensor integration, and
                                real-time operating systems (RTOS) implementation.
                            </li>
                            <li><strong>System Integration:</strong> We specialize in integrating complex systems,
                                ensuring interoperability and seamless communication between hardware and software
                                components.
                            </li>
                            <li><strong>Consulting and Support:</strong> Our expertise extends beyond development. We
                                offer consulting services to guide you through technical decisions and provide ongoing
                                support to ensure your systems perform optimally.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Why Choose Us</h2>
                        <ul>
                            <li><strong>Experience and Expertise:</strong> With broad experience in software
                                development, our team has successfully delivered solutions across various industries. We
                                will always find a way to integrate your new ideas into your current business. No matter the requirements.
                            </li>
                            <li><strong>Customization and Flexibility:</strong> We understand that every project is
                                unique. We work closely with you to understand your business objectives and deliver
                                tailored solutions that exceed your expectations.
                            </li>
                            <li><strong>Quality Assurance:</strong> Our rigorous testing processes and quality assurance
                                measures ensure that our solutions are robust, secure, and reliable.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Let's Discuss Your Project</h2>
                        <p>Ready to explore how our software solutions can benefit your business? Contact us
                            today to schedule a consultation. Together, we can transform your ideas into innovative
                            solutions that drive your business forward.</p>
                        <a href="{{ routes['Contact'][0].url }}" class="btn btn-outline-primary btn-lg"><span
                            class="fas fa-envelope me-2"></span>Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Section -->

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
