{# shared_variables.html #}
{% set routes = {
    'Home': [
        {'url': './home', 'label': 'Introduction'},
        {'url': './services', 'label': 'Key services'}
    ],
    'Services': [
        {'url': './service/service1', 'label': 'Service 1'},
        {'url': './service/service2', 'label': 'Service 2'},
        {'url': './service/service3', 'label': 'Service 3'}
    ],
    'Portfolio': [
        {'url': './portfolio/project1', 'label': 'Project 1'},
        {'url': './portfolio/project2', 'label': 'Project 2'},
        {'url': './portfolio/project3', 'label': 'Project 3'}
    ],
    'Contact': [
        {'url': './contact', 'label': 'Contact us'}
    ]
} %}