{% extends "layouts/base.html" %}

{% block title %} {{ page_label }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">{{ page_label }}</h1>
                        {% if page_description %}
                            <p class="lead mb-5">{{ page_description }}</p>
                        {% endif %}
                        <div class="alert bg-secondary" role="alert">
                            <span class="fas fa-info-circle"></span>&nbsp;&nbsp;This project has been realised as a
                            group assignment for <a href="https://www.hogeschoolrotterdam.nl/" target="_blank"><u>Hogeschool
                            Rotterdam</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
        <div class="section section-md">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                        <strong>Project Overview:</strong> For this project, we were assigned to purchase a seated
                        lawnmower in groups of 5 to 8 students. Our task was to enhance engine power, fuel economy, and
                        emission reduction. We initiated the project with a baseline measurement conducted using a
                        dynamometer, which provided a reference point and insights into the current state of our engine.
                        <br><br>
                        </p>
                    </div>
                    <div class="col-6">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/lawnmower-tuning/topOfMower.jpg" alt="">
                    </div>
                    <div class="col-6">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/lawnmower-tuning/vrSensor.jpg" alt="">
                    </div>

                    <div class="col-12">
                        <p>
                        <br><br>
                        <strong>Modifications and Improvements:</strong> We were permitted to modify the intake manifold
                        and exhaust system. Additionally, we received an ECU package including all
                        necessary sensors, as sponsorship. Based on computational airflow simulations, we designed a new
                        intake and exhaust system. Following this, we installed all sensors in place to facilitate
                        early-stage testing. Subsequently, we mapped our new ECU with the correct mixture of fuel and
                        air and appropriate pre-ignition values.
                        <br><br>
                        </p>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/lawnmower-tuning/mappingMower.jpg"
                             alt="">
                        <br><br>
                    </div>
                    <div class="col-12">
                        <p>
                        <strong>Challenges and Learnings:</strong> Unfortunately, we did not allocate sufficient
                        attention to our drive line, resulting in an inability to retrieve comparable data after the
                        second run on the dynamometer. Despite this setback, the project was incredibly diverse and
                        educational. We learned how to create our own wire harness, design and substantiate intake
                        manifolds and exhaust systems, and correctly map an ECU.
                        <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Section -->

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
