{% extends "layouts/base.html" %}

{% block title %} {{ page_label }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">{{ page_label }}</h1>
                        {% if page_description %}
                            <p class="lead mb-5">{{ page_description }}</p>
                        {% endif %}
                        <div class="alert bg-secondary" role="alert">
                            <span class="fas fa-info-circle"></span>&nbsp;&nbsp;This product has been made for the
                            customer: <a href="https://kms.vankronenburg.nl/" target="_blank"><u>KMS</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
        <div class="section section-md">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="funcarModalText">
                            For my graduation internship, I found an assignment at
                            <a href="https://kms.vankronenburg.nl/" target="_blank">van Kronenburg Motormanagement
                                Systems</a>
                            in Geldrop, Netherlands. They had a working prototype of a digital motorsport display.
                            This product was in a really early stage of development when I started my assignment. The
                            goal of
                            the assignment was to make the product ready for production.
                            To achieve this goal, I had to work on a lot of different subjects, in quite a few different
                            disciplines.
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized" src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay1.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p class="funcarModalText">
                            Some of the product specifications are as follows:
                        <ul>
                            <li>The user is able to display CAN data from their ECU on a 'Check Engine Page' and a 'Race
                                Page'.
                            </li>
                            <li>The product has 3 buttons to navigate through the menu (3 more are delivered to mount in
                                the vehicle).
                            </li>
                            <li>There are 16 configurable LEDs at the sides of the screen (2 sets of 8), so the user can
                                receive warnings when engine data crosses a configured threshold.
                            </li>
                            <li>There are 16 RPM LEDs which turn on/off when a certain engine RPM has been passed, to
                                show the user when to switch gears.
                            </li>
                            <li>The product contains a GPS module, to be used with a lap-timer functionality. The end
                                user is able to time how fast they have driven over any track in the EU!
                            </li>
                            <li>The product contains an ambient light sensor, to detect the brightness of the ambient
                                lighting, and adjusts LED and screen brightness accordingly.
                            </li>
                        </ul>
                        </p>
                        <br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized" src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay2.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p class="funcarModalText">
                            The product is based on a Raspberry Pi Compute Module 4 as the main processor. This
                            full-blown
                            computer has been chosen, since the prototype was already built using a Raspberry Pi, and we
                            wanted to make sure the hardware would be capable for at least 5 years (the project budget was quite limited, so changing such an integral part would have taken to much time).
                            A custom 'carrier' printed circuit board has been designed (by an external company, under my
                            supervision) to connect all the different sensors and actuators to each other and the
                            Raspberry Pi.
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized" src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay3.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p class="funcarModalText">
                            The encasing of the product was also designed by me. Colleagues helped out making the
                            product
                            CNC routable. The screen is an 800x400px display, with 1000 nits of brightness. This screen
                            has
                            been specially sourced to make sure it is clearly readable in bright conditions, without
                            glaring.
                            The end product has a glass screen protector over top, to make sure that the screen itself
                            does
                            not get cracked easily.
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <p class="funcarModalText">
                            The development of this digital motorsport display highlights our commitment to innovation and quality.
                    By focusing on user-friendly design, robust hardware, and advanced functionality, we ensure that our
                    products meet the high standards expected by professional rally and circuit drivers. This project
                    exemplifies our ability to deliver customized, high-performance solutions that can enhance the
                    driving experience and provide crucial real-time data. Whether for professional racing teams or
                    enthusiasts, our dedication to excellence in both hardware and software makes us a trusted partner
                    in the motorsport industry.
                        </p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
