{% extends "layouts/base.html" %}

{% block title %} {{ page_label }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">{{ page_label }}</h1>
                        {% if page_description %}
                            <p class="lead mb-5">{{ page_description }}</p>
                        {% endif %}
                        <div class="alert bg-secondary" role="alert">
                            <span class="fas fa-info-circle"></span>&nbsp;&nbsp;This product has been made for the
                            customer: <a href="https://kms.vankronenburg.nl/" target="_blank"><u>KMS</u></a>
                        </div>
                    </div>
                </div>
            </div>
                    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </figure>
        </div>
        <!-- End of Hero -->

        <!-- Section -->
        <div class="section section-md">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                            The digital motorsport display project was undertaken in collaboration with
                            <a href="https://kms.vankronenburg.nl/" target="_blank">van Kronenburg Motormanagement
                                Systems</a>
                            in Geldrop, Netherlands. The initial prototype was in an early stage of development, with
                            the primary objective being to prepare the product for production. This involved extensive
                            work across various disciplines to ensure a robust and reliable end product.
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay1.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p>
                            Key product specifications include:
                        <ul>
                            <li>Ability to display CAN data from the ECU on both a 'Check Engine Page' and a 'Race
                                Page'.
                            </li>
                            <li>Three buttons for menu navigation, with an additional three provided for vehicle
                                installation.
                            </li>
                            <li>Sixteen configurable LEDs for warnings when engine data exceeds set thresholds.</li>
                            <li>Sixteen RPM LEDs to indicate optimal gear shift points based on engine RPM.</li>
                            <li>Integrated GPS module for lap-timer functionality, allowing users to track performance
                                on any EU circuit.
                            </li>
                            <li>Ambient light sensor for automatic adjustment of LED and screen brightness.</li>
                        </ul>
                        </p>
                        <br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay2.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p>
                            The product utilizes a Raspberry Pi Compute Module 4 as the main processor. This decision
                            was based on the prototype's existing architecture and the need for a future-proof solution
                            within budget constraints. A custom carrier PCB, designed under our supervision by an
                            external company, integrates all sensors and actuators with the Raspberry Pi.
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid img-max-sized"
                             src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/motorsport-display/DigitalDisplay3.jpg"
                             alt="">
                    </div>
                    <div class="col-12">
                        <br><br>
                        <p>
                            The product's encasing, designed to be CNC routable, features a 800x400px display with 1000
                            nits of brightness for optimal readability in bright conditions. The screen is protected by
                            a glass screen protector to prevent damage (not seen in the pictures).
                        </p>
                        <br><br>
                    </div>
                    <div class="col-12">
                        <p>
                            The development of this digital motorsport display underscores our commitment to innovation
                            and quality. By focusing on user-friendly design, robust hardware, and advanced
                            functionality, we ensure that our products meet the high standards expected by professional
                            rally and circuit drivers. This project exemplifies our ability to deliver customized,
                            high-performance solutions that enhance the driving experience and provide crucial real-time
                            data. Our dedication to excellence in both hardware and software makes us a trusted partner
                            in the motorsport industry.
                        </p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
