<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mats de Waard</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700" rel="stylesheet" type="text/css">

  <!-- Custom styles -->
  <link href="css/template.css" rel="stylesheet">
  <link href="css/mats.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Mats de Waard</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://www.linkedin.com/in/mats-de-waard-577073174/"><i id="logoLinkedIn" class="fab fa-linkedin fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text header-textbox">
        <div class="intro-lead-in">This is a collection of my work</div>
        <div class="intro-heading text-uppercase">Show me more!</div>
        <a id="headerArrow" class="js-scroll-trigger" href="#portfolio"><i class="fas fa-arrow-down fa-5x bounce"></i></a>
      </div>
    </div>
  </header>

  <!-- Portfolio Grid -->
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <h3 class="section-subheading text-muted">All the school and private projects that I am proud of</h3>
        </div>
      </div>
      <div class="row">
        <!-- ProjectA -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1" id="modal1" onclick="onModal1Open()">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/funcar_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Project A</h4>
            <p class="text-muted">Automotive engineering</p>
          </div>
        </div>
        <!-- Lawnmower -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/lawnmower_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Lawnmower tuning</h4>
            <p class="text-muted">Automotive engineering</p>
          </div>
        </div>
        <!-- Motorsport Display -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/digitaldisplay_thumbnail_3.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Motorsport Display</h4>
            <p class="text-muted">Automotive engineering</p>
          </div>
        </div>

        <!-- Card Shuffler -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/cardshuffler_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Card Shuffler</h4>
            <p class="text-muted">Electronic engineering</p>
          </div>
        </div>

        <!-- The Lost Colors -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/thelostcolors_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>The Lost Colors</h4>
            <p class="text-muted">Game development</p>
          </div>
        </div>

        <!-- Shard of Kronos -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/shardofkronos_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Shard of Kronos</h4>
            <p class="text-muted">Game development</p>
          </div>
        </div>

        <!-- PCB, synth -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/pcb_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Step sequencer</h4>
            <p class="text-muted">Electronic engineering</p>
          </div>
        </div>
        <!-- Zijnskunst -->
        <div class="col-md-6 col-sm-12 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-expand fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/zijnskunst_thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Zijnskunst.nl</h4>
            <p class="text-muted">Website development</p>
          </div>
        </div>



      </div>
    </div>
    </div>
  </section>


  <!-- About -->
  <section class="bg-light" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-center justify-content-center">
          <img id="matsImg" class="rounded-circle img-fluid" src="img/mats2.jpg" alt="">
        </div>
        <div class="col-lg-1"></div>
        <div id="aboutMe" class="col-lg-6">
          <h2 class="section-heading text-uppercase">About me</h2>
          <h3 class="section-subheading text-muted">My name is Mats de Waard an Automotive engineering student at the Rotterdam University of Applied Sciences.
            I am especially passionate about automotive technology, IT and the combination thereof.
            In my spare time I enjoy designing electronic components and making them work with my own written code.
            <br><br>

            Since I started on Automotive engineering, I have discovered that this combination works perfectly together,
            as the entire car industry is currently shifting towards autonomous driving. <br><br>

            The timeline below shows my education and relevant work experience to this date.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2011-2016</h4>
                  <h4 class="subheading">Middle School</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">During the years 2011 through 2016 I went to the ‘Vathorst College’ in Amersfoort, the Netherlands, where I received my HAVO diploma.
                    Whilst in high school, I discovered that I wanted to do something technical.
                    Since I developed a sense of programming during this period as well, I went on to study Software Engineering.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2014-now</h4>
                  <h4 class="subheading">Junior Programmer</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Since 2014 I found my first real and relevant job.
                    I complete all available tasks concerning computer-scripts,
                    resolving IT-problems and building self-designed hardware for <a target="_blank" href="http://linuxcien.com/">LinuXcien B.V.</a></p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016-2017</h4>
                  <h4 class="subheading">Bachelor Software Engineer</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    HBO-IT in Utrecht, the Netherlands. It seemed like a perfect fit for me at the time.
                    I really enjoyed all the exercises that I was assigned, but I did not like my school, nor my classmates.
                    So after the first year I lost my interest in the study and realised I needed / wanted to do something else.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016-2017</h4>
                  <h4 class="subheading">Sales Promoter</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    I have worked as a sales promoter for Fieldstars, selling and promoting all kinds of projects.
                    Think of newspaper subscriptions, solar panels, lottery tickets etcetera.
                    This work has taught me a lot about how people think and how to stay positive after a lot of disappointments and rejections.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about5.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2017-2021</h4>
                  <h4 class="subheading">Bachelor Automotive Engineer</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">This study in Rotterdam quickly grew on me,
                    it felt like I learned more in the first few weeks of this study than I did in the whole first year of Software Engineering.
                    I've learned a lot of technical skills and theoretical knowledge about vehicles, but also other technical systems.
                    Especially computers and how their software / hardware combination works.</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="img/about/about6.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2021-now</h4>
                  <h4 class="subheading">Product Owner</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    After finishing my graduation assignment as a prototype developer, I continued as a freelancer on the 'Digital Motorsport Display' project at <a href="https://kms.vankronenburg.nl/" target="_blank">van Kronenburg Management Systems</a>.
                    Here I am working on getting the product ready for production. I work on every aspect of the product's development.
                    For example, developing application software and firmware for the computer (preparing the 'Operation System' for production).
                    I have also supervised the development of printed circuit board, developed the aluminum housing for product, and I am continually testing / validating whether the work made is correct according to the requirements.
                  </p>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="copyright">Copyright &copy; Mats de Waard <script type="text/JavaScript"> var theDate=new Date(); document.write(theDate.getFullYear()) </script></span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div id="modalBody1" class="modal-body">
                <h2 class="text-uppercase">Project A</h2>
                <p class="item-intro text-muted">A funcar made with passion by enthousiasts</p>
                <div id="loader">
                  <div id="loaderText">
                    0%
                  </div>
                </div>
                <canvas id="carCanvas"></canvas>
                <p class="funcarModalText">In the first year of Automotive engineering we had to design and build a Funcar, within given restrictions.
                  These restrictions included given measurements and a maximum power, braking power and speed. We were free to choose our concept but were
                  only given a €500 budget, this meant we had to find (sponsored) parts to build the final car.</p>
                <img class="img-fluid" src="img/portfolio/Funcar/funcarBack.jpg" alt="">
                <img class="img-fluid" src="img/portfolio/Funcar/funcarFront.jpg" alt="">
                <p class="funcarModalText">I mostly focussed on the dashboard behind the steering wheel. It used a webpage displayed on full-screen mode to present the speed, RPM of the engine, current gear and cooling water temperature of the car. All of this ran on a Raspberry Pi.
                   <br>The information displayed, was retrieved by a set of Arduinos. A HAL sensor connected near the front wheels measured the speed of the car and another HAL sensor next to an outgoing engine shaft measured the engine’s RPM.
                   The appropriate Arduinos then send their collected data
                   to the Raspberry Pi via the I<sup>2</sup>C bus.<br> As the Honda CX500 motorcycle had a sequential gearbox,
                   it was possible to simply count up and down to keep track in what gear the car is.
                   This was done by fitting 2 push buttons near the shifting stick - one in front of it and one behind it.</p>
                <img class="img-fluid" src="img/portfolio/Funcar/dash.jpg" alt="">
                <p class="funcarModalText">Unfortunately the evening before the test day, our display broke because it had to much tension when assembled in it's frame.
                  Nevertheless, we all had a lot of fun making this car, and we are proud to say that we won the price for best car of all project groups!</p>
                <img class="img-fluid" src="img/portfolio/Funcar/funcarWholeClass.jpg" alt="">
                <ul class="list-inline">
                  <li>Date: October 2017 - July 2018</li>
                  <li>Client: Hogeschool Rotterdam</li>
                  <li>Category: Automotive engineering</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">"Torro Rosso"</h2>
                <p class="item-intro text-muted">An oldschool lawnmower, with a modern touch</p>
                <p class="funcarModalText">For this project, we were assigned to buy a seated lawnmower in groups of 5 to 8 students.
                  Our task was to improve engine power, fuel economy and emmision reduction.
                  We started with a baseline measurement done with a Dynometer,
                  in order to have a reference point and to find out more about what state our engine was in at that moment.</p>
                  <img class="img-fluid" src="img/portfolio/Lawnmower/topOfMower.jpg" alt="">
                  <img class="img-fluid" src="img/portfolio/Lawnmower/vrSensor.jpg" alt="">
                  <p class="funcarModalText">We were allowed to change the intake manifold and exhaust system
                    and received an ECU package from <a href="http://kms.vankronenburg.nl/" target="_blank">"van Kronenburg"</a>
                    including all needed sensors, as sponsoring. On the basis of computational airflow simulations, we then designed a new intake and exhaust system.
                    After this, we started fitting all the sensor in place, so we could test these in an early stage.
                    We then mapped our new ECU with a correct mixture of fuel and air and correct pre-ignition values.</p>
                  <img class="img-fluid" src="img/portfolio/Lawnmower/mappingMower.jpg" alt="">
                  <p>Unfortunately we did not pay enough attention to our drive line and were not able to retrieve any comparable data after the second run on the Dyno.
                    It was a really diverse project in that we learned how to make our own wire harness,
                    how to design and substantiate intake manifolds and exhaust systems and how to map an ECU correctly.</p>
                <ul class="list-inline">
                  <li>Date: September 2018 - Februari 2019</li>
                  <li>Client: Hogeschool Rotterdam</li>
                  <li>Category: Automotive engineering</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">Step sequencer</h2>
                <p class="funcarModalText">I have been working for this project on and off for a few weeks in 2018.
                  The goal of this project is to make a step sequencer that can send MIDI commands to other MIDI devices, ideally, via USB.
                  In that way it can be hooked up as if it were a keyboard. This design requires 16 rotary encoders, each encoder resembling a note.
                  Every encoder can be used to change the tone of that note. You can also click the encoder to disable or enable a note.
                  Each encoder also has 3 LEDs inside, which are to be used as an indicator of which note is playing.</p>
                  <img class="img-fluid" src="img/portfolio/PCB/pcb_CAD.jpg" alt="">
                  <p class="funcarModalText">After designing the first prototype on a small breadboard and making that into a CAD PCB, the PCB design could be sent off to China.
                    After receiving 5 green boards, I soldered all needed components in place on one of the five boards.
                    However, the design was converted from a small prototype to an 8 times as large PCB, this meant things were prone to go wrong.
                    The so called "Shift register" integrated chips that were used, started to act weird and the board did not work nearly as expected.</p>
                  <img class="img-fluid" src="img/portfolio/PCB/pcb_Printed.jpg" alt="">
                  <p class="funcarModalText margin-0">Reflecting on this first prototype,
                    it became evident the used Arduinos could only support around 10-15mA per output pin, which was greatly exceeded in some cases.
                    On top of this, a few extra components should be placed in order to filter out any noise in the data bus of the shift registers.
                    Lastly, all transistors in the left lower corner could be made redundant. In the near future I will elaborate on these ideas to create a second prototype.</p>
                <ul class="list-inline">
                  <li>Client: <a target="_blank" href="http://linuxcien.com/">LinuXcien B.V.</a></li>
                  <li>Category: Electronic engineering</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">Zijnskunst.nl</h2>
                <p class="funcarModalText">
                  Zijnskunst is a start-up offering one-on-one counselling in line with the teachings of ‘A Course in Miracles’.
                  Zijnskunst aims to help its clients find inner peace through a mix of conversation, guided meditation, yoga, dance, music and breathwork.
                  Being a start-up, they expressed a need for a visual identity and an accompanying website, to kick-start their business. <br><br>
                In collaboration with my <a target="_blank" href="http://idewaard.myportfolio.com/">sister</a>, we build a website for our client.
                we provided Zijnskunst with a custom-built website.
                She created the visual identity for the whole company and designed the front-end of the website.
                I built the actual website according to this design, the result of which can be viewed here: <a target="_blank" href="http://zijnskunst.com/">zijnskunst.nl</a>
                </p>
                  <img class="img-fluid" src="img/portfolio/Zijnskunst/zijnskunst.jpg" alt="">
                <ul class="list-inline">
                  <li>Date: October 2018</li>
                  <li>Client: <a target="_blank" href="http://zijnskunst.com/">zijnskunst.nl</a></li>
                  <li>Category: Website development</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 5  The Lost Colors -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">The Lost Colors</h2>
                <p class="item-intro text-muted">A mobile 2D rouguelike adventure game</p>
                <p class="funcarModalText">
                  The Lost Colors is a 2D mobile adventure game that I worked on during my minor "Game Design and Development" during my Automotive study at the Hogeschool Rotterdam.
                  It was made as a team of 5 students. My task in this project was to realise the designed mechanics and game elements in the <a target="_blank" href="https://unity.com/">Unity</a> game engine.
                  I mostly worked on programming all the core game mechanics like the health system, simple enemy AI and combat system. Together with one other programmer, we managed to get all of the game elements working (relatively bug-free) within six weeks.<br><br>
                  <img class="img-fluid" src="img/portfolio/TheLostColors/theLostColors1.jpg" alt="">
                  <br>The story of the game is as follows:<br><i>
                  In the world of The Lost Colors there is great chaos. Villages are continuously attacked and looted by monsters that leave nothing behind.
In fact, these monsters became so greedy that at one point all villages were completely looted.
The greed-driven monsters just couldn't settle for the loot they acquired and found a way to raid the colors from the world.
When the colors had disappeared from the world, the world slowly came to a standstill and eventually came to a silence.
Our hero was a humble knight and he, along with his friends (a merchant & a blacksmith) were tired of living in all this chaos.
So they fled into the mountains to secretly set up a village where they could live in peace.
However, as the world lost more and more color, the monsters also ended up in the mountain range.
When the hero steps outside one day, almost the entire village has lost its color.
Now is the time when the hero must take his sword and defeat the monsters once and for all.</i><br><br>
                  <img class="img-fluid" src="img/portfolio/TheLostColors/theLostColors2.jpg" alt="">
I thoroughly enjoyed working on this project, since I learned a lot of new programming skills within these six weeks. Next to learning new skills, I am also really glad that we had to release the game on a official platform.
This made sure we focussed on releasing a complete game. The game has been released for Android on the Play Store and can be found <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Silentia.TheLostColor&hl=en&gl=US">here</a>.
                </p>
                  <!--<img class="img-fluid" src="img/portfolio/Zijnskunst/zijnskunst.jpg" alt=""> -->
                <ul class="list-inline">
                  <li>Date: October 2020</li>
                  <li>Client: <a target="_blank" href="http://www.mgdd.nl/">MGDD.nl</a></li>
                  <li>Category: Game development</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal 6  Shard of Kronos -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">Shard of Kronos</h2>
                <p class="item-intro text-muted">A 3D puzzle adventure game</p>
                <p class="funcarModalText">
                  Shard of Kronos is a 3D adventure puzzle game that I worked on during my minor "Game Design and Development" during my Automotive study at the Hogeschool Rotterdam.
                  It was made as a team of 15 students (seperated in groups of artists, game designers and developers, all with their own lead). My task during this project was to realize the game elements that were designed by our game designer team.
                  I mostly worked on back-end systems, to make the game easier to develop for the rest of the team. Furthermore, I've created systems like the aiming/shooting mechanic, some puzzles that are in the game and generic enemy AI.

                  <br><br>
                  <img class="img-fluid" src="img/portfolio/ShardOfKronos/ShardOfKronos1.jpg" alt="">
                  <br>The game description is as follows:<br><i>
                  The ever peaceful sky lands of Tygardia are being threatened by a destructive meteor. This meteor can only be destroyed by activating an ancient beacon, guarded by monsters and puzzles. Can you prevent this mysterious catastrophe from happening?<br>
                  Shard of Kronos is a third-person adventure game where you need to save the world by solving various puzzles using your bow and arrow and a vision-enhancing ability. You follow the story of Eden Siegfried, a young, talented, and an exceptionally skilled archer.</i><br><br>
                  <img class="img-fluid" src="img/portfolio/ShardOfKronos/ShardOfKronos2.jpg" alt="">
                  The making of this game was a blast! It was difficult to work with 15 people in total on the same project. We struggled most with making sure no work was done twice, and everyone was working efficiently.<br>
                  I've also learned a lot about C# programming, especially on how to setup code snippets (think of classes, templates and useful extensions to the Unity Game Engine) in way that they are practical for other people to use, even if I've forgotten how I wrote them myself.
                  <br><br> The game was supposed to be released on Steam, but unfortunately we ran out of time to finish that process. We did manage to get it uploaded on Itch.io. The game can be found and downloaded <a target="_blank" href="https://chronicleinteractive.itch.io/shard-of-kronos">here</a>.

                </p>
                <ul class="list-inline">
                  <li>Date: September 2020</li>
                  <li>Client: <a target="_blank" href="http://www.mgdd.nl/">MGDD.nl</a></li>
                  <li>Category: Game development</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 7 Digital Display -->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">Digital Motorsport Display</h2>
                <p class="item-intro text-muted">A digital CAN display for rally or circuit drivers</p>
                <p class="funcarModalText">
                  For my graduation internship, I found an assignment at <a href="https://kms.vankronenburg.nl/" target="_blank">van Kronenburg Motormanagement Systems</a> in Geldrop, Netherlands. They had a working prototype of a digital motorsport display.
                  This product was in a really early stage of development, when I started my assignment. The goal of the assignment was to make the product ready for production.
                  To achieve this goal, I had to work on a lot of different subjects, in quite a few different disciplines.
                  <br><br>
                  <img class="img-fluid" src="img/portfolio/DigitalDisplay/DigitalDisplay1.jpg" alt="">
                  <br>
                <ul>Some of the product specifications are as follows:</ul>
                <ul>- The user is able to display CAN data from their ECU on a 'Check Engine Page' and an 'Race Page'.</ul>
                <ul>- The product has 3 buttons to navigate through the menu (3 more are delivered to mount in the vehicle).</ul>
                <ul>- There are 16 configurable LEDs at the sides of the screen (2 sets of 8), so the user can receive warnings when engine data crosses a configured threshold </ul>
                <ul>- There are 16 RPM LEDs which turn on/off when a certain engine RPM has been passed, to show the user when to switch gears.</ul>
                <ul>- The product contains a GPS module, to be used with a lap-timer functionality. The end user is able to time how fast he has driven over any track in the EU!</ul>
                <ul>- The product contains an ambient light sensor, to detect the brightness of the ambient lighting, and adjusts LED and screen brightness accordingly.</ul>
                  <br>
                <img class="img-fluid" src="img/portfolio/DigitalDisplay/DigitalDisplay2.jpg" alt="">
                  The product is based on a Raspberry Pi Compute Module 4 as the main processor. This full-blown computer has been chosen, since the prototype was already built using a Raspberry Pi, and we wanted to make sure the hardware would be capable for at least 5 years.
                  A custom 'carrier' printed circuit board has been designed (by and external company, under my supervision) to connect all the different sensors and actuators to each other and the Raspberry Pi.
                <br><br>
                <img class="img-fluid" src="img/portfolio/DigitalDisplay/DigitalDisplay3.jpg" alt="">
                The encasing of the product was also designed by me. Colleagues helped out making the product CNC routable. The screen is a 800x400px display, with 1000 nits of brightness. This screen has been specially sourced to make sure it is clearly readable in bright conditions, without glaring.
                The end product has a glass screen protector over top, to make sure that the screen itself does not get cracked easily.
                <br><br>
                The creation of this product has been a special experience. During this project, I have had a lot of responsibility on my shoulders, which was real unique for me.
                I have learned a lot about project management, complete product design, strong codebase design and codebase maintainability. Furthermore, I have learned a big deal about hardware designs and how embedded development is usually done.
                This project has given me a clearer vision of what I would like to do in the future of my career, creating products which combines hardware designs with some kind of software application.
                </p>
                <ul class="list-inline">
                  <li>Date: January 2021 - August 2022</li>
                  <li>Client: <a target="_blank" href="https://kms.vankronenburg.nl/">KMS</a></li>
                  <li>Category: Automotive engineering</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 8 Digital Display -->
  <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase small-modal-header">Card Shuffler</h2>
                <p class="item-intro text-muted">An advanced card shuffler, capable of unfair play</p>
                <p class="funcarModalText">
                  Together with a good friend of mine, we designed an advanced card shuffler (albeit unnecessarily complex for it's current functionality).
                  The idea of the machine is to (pseudo) randomly choose a number between  1 and 6.
                  This random number is linked to one of six plastic 'trays' which can contain regular playing cards. The machine 'shoots' a card from the main stack into the randomly chosen tray. Once all cards from the stack have been shot, all cards are thrown on top of each other and the cycle can start again (or you consider the deck 'shuffled', and you can start playing your game).
                  <br><br>
                  <img class="img-fluid" src="img/portfolio/CardShuffler/CardShuffler1.jpg" alt="">
                  <br>
                  The card shuffler is still in prototype phase. This prototype is made from off the shelf motors, linear rails, and driving belts. All the other components seen in the image are 3D printed and designed with CAD.
                  The electronics schematic is also custom-made, and currently realised on a piece of hand soldered 'perf-board'. The brain of this device is a Teensy Microcontroller. This microcontroller was chosen because it packs a punch for it's small form factor.
                  A lot of IO is also always pleasant for a device with this scale (3 stepper motors, 1 DC motor, 3 end-limiting switches, an RGB rotary encoder with push button and a small display).
                  <br>
                  <br>
                  <img class="img-fluid" src="img/portfolio/CardShuffler/CardShuffler2.jpg" alt="">
                  <img class="img-fluid" src="img/portfolio/CardShuffler/CardShuffler3.jpg" alt="">
                  <br>

                A lot of parts have been 3D printed in this design. Even the (helical spiral) gears are 3D FDM printed! This allowed us to fine-tune the gearing exactly to our liking. Because of this fine-tuning ability, we were able to make the machine (almost) always dispense one card (not 0 and not more than 1 at a time).
                  Because the product only dispenses one card at a time, it is possible to read which card is up next. Reading a card one at a time would mean that we could decide how to deck will look like beforehand to add a 'cheating mode'.
                  The current prototype is not capable of this yet. We would need to add a camera and another computer to process the camera images correctly. We are currently not following up on this idea, since we would like to get the main functionality in a more complete and stable state first.

                <br><br>
                  <img class="img-fluid" src="img/portfolio/CardShuffler/CardShuffler4.jpg" alt="">
                The next logical step is to change our hand soldered electronics into a PCB design. We also need to finish our encasing, and make a couple of changes to our mechanical setup to make sure only one card is dispensed.
                  After that, we need to optimize speed and minimize noise made by the device, to make it's usability more practical. It currently shuffles one deck of cards in +/- 50 seconds (which means you need to play with another deck while the machine shuffles, in the current prototype stage).
                  <br>
                  <br>
                  Since this project started as a hobby, we have not done any kind of market research to know if it would be viable to mass produce and sell the product (if appropriate adjustments have been made to the design).
                  We might look into this in the future, but first we want to finish the next prototype (just for fun).
                </p>
                <ul class="list-inline">
                  <li>Date: March 2022</li>
                  <li>Client: Hobby</li>
                  <li>Category: Electronic engineering</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- ThreeJS -->
  <script src="js/plugins/three.js"></script>
  <script src="js/plugins/loaders/GLTFLoader.js"></script>

  <!-- Custom scripts -->
  <script src="js/template.js"></script>
  <script src="js/funcarModel.js"></script>

</body>

</html>
