<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- Primary Meta Tags -->
    <title>
        Home | Mordekay
    </title>

    <!-- Favicon -->
    {% include "includes/favicon.html" %}

    <!-- Fontawesome -->
    <link type="text/css" href="{{ config.ASSETS_ROOT }}/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
          rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="{{ config.ASSETS_ROOT }}/assets/css/pixel.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="{{config.ASSETS_ROOT}}/assets/css/core.css" rel="stylesheet">

</head>
<body>

{% include 'includes/navigation.html' %}

<main>

    {#{% include 'includes/preloader.html' %}#}

    <!-- Hero -->
    <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="mk-big-icon d-none d-lg-block">
                        <img src="{{ config.ASSETS_ROOT }}/assets/img/brand/MK_Logo_Light.svg" alt="Description of SVG">
                    </div>
                    <h1 class="fw-bolder display-2">
                        Mordekay
                    </h1>
                    <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                        Turning Your Ideas into Reality
                    </h2>
                </div>
            </div>
        </div>
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </figure>
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-6 col-md-3 text-center mb-4">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <span class="fas fa-cogs text-tertiary"></span>
                    </div>
                    <h3 class="fw-bolder">Custom Solutions</h3>
                    <p class="text-gray">Tailored to Your Needs</p>
                </div>
                <div class="col-6 col-md-3 text-center mb-4">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <span class="fas fa-code text-tertiary"></span>
                    </div>
                    <h3 class="fw-bolder">Expert Developers</h3>
                    <p class="text-gray">Experienced Professionals</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <span class="fas fa-project-diagram text-tertiary"></span>
                    </div>
                    <h3 class="fw-bolder">Project Management</h3>
                    <p class="text-gray">From Start to Finish</p>
                </div>
                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
                        <span class="fas fa-shield-alt text-tertiary"></span>
                    </div>
                    <h3 class="fw-bolder">Secure Solutions</h3>
                    <p class="text-gray">Your Data Protected</p>
                </div>
            </div>
            <div class="row justify-content-between align-items-center mb-5">
                <div class="col-12 text-center">
                    <h2 class="h1">Our Services</h2>
                    <p class="mb-4 lead fw-bold">Comprehensive Solutions for Your Business</p>
                    <p class="mb-4">We provide end-to-end solutions from ideation to deployment, ensuring your project
                        is a success.</p>
                    <div class="row">
                    <div class="col-4">
                        <a href="{{ routes['Services'][0].url }}" class="btn btn-outline-primary">
                        {{ routes['Services'][0].label }}</a>
                    </div>
                    <div class="col-4">
                        <a href="{{ routes['Services'][1].url }}" class="btn btn-outline-primary">
                        {{ routes['Services'][1].label }}</a>

                    </div>
                    <div class="col-4"><a href="{{ routes['Services'][2].url }}" class="btn btn-outline-primary">
                        {{ routes['Services'][2].label }}</a></div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel Section -->
    <section class="section section-lg bg-light pt-0">
        <div class="container">
            <h2 class="h1">A Snippet of Our Portfolio</h2>
            <div id="slideShow" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{{ routes['Portfolio'][0].url }}">
                        <img src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/shot-clock/ShotClock2.jpg"
                             class="d-block w-100 rounded" alt="First slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-black-custom rounded p-3">
                            <h5>{{ routes['Portfolio'][0].label }}</h5>
                            <p>{{ routes['Portfolio'][0].description }}</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ routes['Portfolio'][1].url }}">
                        <img src="{{ config.ASSETS_ROOT }}/assets/img/portfolio/card-shuffler/CardShuffler1.jpg"
                             class="d-block w-100 rounded" alt="Second slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-black-custom rounded p-3">
                            <h5>{{ routes['Portfolio'][1].label }}</h5>
                            <p>{{ routes['Portfolio'][1].description }}</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ routes['Portfolio'][2].url }}">
                        <img src="{{ config.ASSETS_ROOT }}/assets/img/carousel/funcar-carousel.jpg"
                             class="d-block w-100 rounded" alt="Third slide">
                        </a>
                        <div class="carousel-caption d-none d-md-block bg-black-custom rounded p-3">
                            <h5>{{ routes['Portfolio'][2].label }}</h5>
                            <p>{{ routes['Portfolio'][2].description }}</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slideShow" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slideShow" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </section>

    <div class="section section-sm pb-8 mb-n4" id="components">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h2 class="h1 mb-3">Reach Out to Us</h2>
                    <p class="lead px-5">We blend innovation, expertise, and dedication to bring you the best services
                        in the industry.</p>
                    <a href="{{ routes['Contact'][0].url }}" class="btn btn-outline-primary btn-lg"><span
                            class="fas fa-envelope me-2"></span>Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'includes/footer.html' %}

{% include 'includes/scripts.html' %}

</body>
</html>
